# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

## Лабораторная работа №2

### Базовые операции с `DataFrame`

In [2]:
# 1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация 
# об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из 
# файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание 
# на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).
import pandas as pd
import numpy as np
recipes = pd.read_csv('recipes_sample.csv')
reviews = pd.read_csv('reviews_sample.csv')
reviews

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

In [8]:
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [3]:
# 1.2 Для каждой из таблиц выведите основные параметры:
# * количество точек данных (строк);
# * количество столбцов;
# * тип данных каждого столбца.
print(f'Количество строк reviews: {len(reviews.index)}')
print(f'Количество строк recipes: {len(recipes.index)}')
print(f'Количество столбцов reviews: {len(reviews.columns)}')
print(f'Количество столбцов recipes: {len(recipes.columns)}')
print(f'Тип данных reviews: {type(reviews)}')
print(f'Тип данных recipes: {type(recipes)}')

Количество строк reviews: 126696
Количество строк recipes: 30000
Количество столбцов reviews: 6
Количество столбцов recipes: 8
Тип данных reviews: <class 'pandas.core.frame.DataFrame'>
Тип данных recipes: <class 'pandas.core.frame.DataFrame'>

In [4]:
# 1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. 
# # Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.
print('Доля строк для recipes: ', '{:.2f}'.format(len(recipes.dropna().index) / len(recipes.index))) #{:.2f} - ограничение до 2 цифр после запятой
print('Доля строк для reviews: ', '{:.2f}'.format(len(reviews.dropna().index) / len(reviews.index)))

Доля строк для recipes:  0.43
Доля строк для reviews:  1.00

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [27]:
name_columns = recipes.columns
recipes = recipes.fillna(1) #заполняем пропуски единичками, чтобы пустые значения не повлияли на среднее значение

for i in name_columns:
    if recipes[i].dtype != 'object': #если наша ячейка не строка, а что-то числовое
         print(f'Столбец "{i}" среднее значение: {round(np.mean(recipes[i]), 2)}')

Столбец "id" среднее значение: 221879.29
Столбец "minutes" среднее значение: 123.36
Столбец "contributor_id" среднее значение: 5635900.57
Столбец "n_steps" среднее значение: 6.52
Столбец "n_ingredients" среднее значение: 6.64

1.5 Создайте серию из 10 случайных названий рецептов.

In [41]:
s_name = recipes['name'].sample(n = 10)

s_name

18944                                  oatmeal bread  abm
13210                            ham and beans  crock pot
20997                             plum and prune smoothie
16212                                        lime ricotta
23162    salada de arroz  rice salad    portuguese brazil
3409                   blueberry maple syrup french toast
12370                       grandma chics jelly roll 1968
2317                         barbs bread   butter pickles
5124                                 cheese bread pudding
10697                                              fakess
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [45]:
reviews.reset_index()
reviews

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [46]:
min_and_ing_recipes = recipes[(recipes['minutes'] <= 20) & (recipes['n_ingredients'] <= 5)]
min_and_ing_recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,1.0,my children and their friends ask for my homem...,1.0
5,mennonite corn fritters,44045,15,41706,2002-10-25,1.0,ok - my heritage has been revealed. :) these a...,1.0
7,say what banana sandwich,95926,5,118163,2004-07-20,4.0,you just have to try it to believe it.,1.0
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
38,amish cake frosting icing,44050,5,41706,2002-10-25,1.0,yummmmmy! my amish mother-in-law shared this p...,1.0
...,...,...,...,...,...,...,...,...
29930,zucchini cole slaw,57980,20,10113,2003-04-04,3.0,yet another way to use the abundant garden zuc...,1.0
29960,zucchini raisin cookies,41192,20,27643,2002-09-24,1.0,this was given to me by a good friend and i ha...,1.0
29976,zucchini tots,505053,20,798181,2013-07-31,1.0,'the happy homemaker blog' shared this recipe ...,1.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [50]:
print(recipes['submitted'].dtype)
recipes['submitted'] = pd.to_datetime(recipes['submitted'])
print(recipes['submitted'].dtype)

datetime64[ns]
datetime64[ns]

In [51]:
recipes['submitted']

0       2002-10-25
1       2003-07-26
2       2002-08-29
3       2002-07-27
4       2004-02-23
           ...
29995   2007-11-25
29996   2009-08-24
29997   2004-11-03
29998   2012-08-29
29999   2008-04-15
Name: submitted, Length: 30000, dtype: datetime64[ns]

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [58]:
recipes[recipes['submitted'].dt.year <= 2010]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,1.0,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,1.0,my children and their friends ask for my homem...,1.0
2,i can t believe it s spinach,38798,30,1533,2002-08-29,1.0,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,1.0,my sister-in-law made these for us at a family...,1.0
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,1.0
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,1.0,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,1.0,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,1.0,this is a traditional late summer early fall s...,1.0
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

### Работа со строковыми данными в `pandas`

In [5]:
# 3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится 
# длина описания рецепта из столбца `description`.
recipes['description_lenght'] = recipes['description'].str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_lenght
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

In [6]:
# 3.2 Измените название каждого рецепта в таблице `recipes` таким образом, 
# чтобы каждое слово в названии начиналось с прописной буквы.
recipes['name'] = recipes['name'].str.title()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_lenght
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

In [7]:
# 3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится 
# количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). 
# Обратите внимание, что между словами может располагаться несколько пробелов подряд.
recipes['name_word_count'] = recipes['name'].str.split().str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_lenght,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,7
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,3
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,8
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,4
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,5
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7

In [8]:
# 4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). 
# Какой участник добавил максимальное кол-во рецептов?
recipes.groupby('contributor_id').count()['name']

contributor_id
1530            5
1533          186
1534           50
1535           40
1538            8
             ...
2001968497      2
2002059754      1
2002234079      1
2002234259      1
2002247884      1
Name: name, Length: 8404, dtype: int64

In [9]:
recipes.groupby('contributor_id').count().max()['name']

421

In [10]:
# 4.2 Посчитайте средний рейтинг к каждому из рецептов. 
# Для скольких рецептов отсутствуют отзывы? Обратите внимание, 
# что отзыв с нулевым рейтингом или не заполненным текстовым 
# описанием не считается отсутствующим.

reviews.groupby('recipe_id')['rating'].mean()

recipe_id
48        1.000000
55        4.750000
66        4.944444
91        4.750000
94        5.000000
            ...
536547    5.000000
536610    0.000000
536728    4.000000
536729    4.750000
536747    0.000000
Name: rating, Length: 28100, dtype: float64

In [11]:
print(reviews['review'])
print('------')
print(reviews['review'].dropna())

0         Last week whole sides of frozen salmon fillet ...
1         So simple and so tasty!  I used a yellow capsi...
2         Very nice breakfast HH, easy to make and yummy...
3         These are a favorite for the holidays and so e...
4         Excellent soup!  The tomato flavor is just gre...
                                ...
126691    This recipe was great! I made it last night. I...
126692    This recipe is outstanding. I followed the rec...
126693    Well, we were not a crowd but it was a fabulou...
126694    I have been a steak eater and dedicated BBQ gr...
126695    Wonderful and simple to prepare seasoning blen...
Name: review, Length: 126696, dtype: object
------
0         Last week whole sides of frozen salmon fillet ...
1         So simple and so tasty!  I used a yellow capsi...
2         Very nice breakfast HH, easy to make and yummy...
3         These are a favorite for the holidays and so e...
4         Excellent soup!  The tomato flavor is just gre...
                                ...
126691    This recipe was great! I made it last night. I...
126692    This recipe is outstanding. I followed the rec...
126693    Well, we were not a crowd but it was a fabulou...
126694    I have been a steak eater and dedicated BBQ gr...
126695    Wonderful and simple to prepare seasoning blen...
Name: review, Length: 126679, dtype: object

In [12]:
# 4.3 Посчитайте количество рецептов с разбивкой по годам создания.
recipes.groupby('submitted').count().sort_values('id')['id']

submitted
1999-08-06     1
2012-02-16     1
2012-02-15     1
2012-02-13     1
2012-02-12     1
              ..
2008-01-22    46
2006-06-17    47
2008-01-03    50
2005-04-12    58
2002-03-28    60
Name: id, Length: 4032, dtype: int64

### Объединение таблиц `pd.DataFrame`

In [13]:
# 5.1 При помощи объединения таблиц, создайте `DataFrame`, 
# состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. 
#     Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. 
#     Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, 
#     и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.
new_table = pd.merge(recipes, reviews, left_on = 'id', right_on = 'recipe_id')
new_table = new_table[new_table['review'].notnull()]
new_table

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_lenght,name_word_count,Unnamed: 0,user_id,recipe_id,date,rating,review
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8,920960,743566,44123,2008-01-28,5,I lived in San Diego for 19 years and would g...
1,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8,920958,76503,44123,2003-06-03,5,This soup is the Bomb! Don't hesitate to try.....
2,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8,920957,34206,44123,2003-03-23,5,I just can't say enough about how wonderful th...
3,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5,897580,494084,67664,2012-09-26,5,These are great! I use 100% (organic) juice a...
4,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5,897579,303445,67664,2012-03-31,5,"Very, very good. My son loves these. He like..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126691,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2,493812,305531,486161,2013-07-18,5,Delish! I made this as directed but used a smo...
126692,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2,493330,1271506,486161,2012-09-10,5,Now the only substitution I made was African B...
126693,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2,493813,724631,486161,2014-01-07,5,"Very tasty soup, moderate spiciness (even afte..."
126694,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2,493811,133174,486161,2013-07-18,5,Very yummy indeed. A spicy sausage was used i...
126695,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7,949985,804234,298512,2008-05-02,1,I would rate this a zero if I could. I followe...

In [17]:
# 5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: 
#     `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, 
#     оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, 
#     в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, 
#     выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.
new_table_2 = pd.merge(recipes, reviews, left_on = 'id', right_on = 'recipe_id')
new_table_2 = new_table_2[['recipe_id', 'name']]
for i in range(1):
    ind = reviews.groupby('recipe_id')['review'].count().index[i]
    new_table_2['review_count'] = reviews.groupby('recipe_id')['review'].count()[ind]
new_table_2

        recipe_id                                    name  review_count
0           44123   George S At The Cove  Black Bean Soup             2
1           44123   George S At The Cove  Black Bean Soup             2
2           44123   George S At The Cove  Black Bean Soup             2
3           67664      Healthy For Them  Yogurt Popsicles             2
4           67664      Healthy For Them  Yogurt Popsicles             2
...           ...                                     ...           ...
126691     486161                             Zydeco Soup             2
126692     486161                             Zydeco Soup             2
126693     486161                             Zydeco Soup             2
126694     486161                             Zydeco Soup             2
126695     298512  Cookies By Design   Cookies On A Stick             2

[126696 rows x 3 columns]

In [18]:
# 5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?
new_table_3 = pd.merge(recipes, reviews, left_on = 'id', right_on = 'recipe_id')
new_table_3

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_lenght,name_word_count,Unnamed: 0,user_id,recipe_id,date,rating,review
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8,920960,743566,44123,2008-01-28,5,I lived in San Diego for 19 years and would g...
1,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8,920958,76503,44123,2003-06-03,5,This soup is the Bomb! Don't hesitate to try.....
2,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8,920957,34206,44123,2003-03-23,5,I just can't say enough about how wonderful th...
3,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5,897580,494084,67664,2012-09-26,5,These are great! I use 100% (organic) juice a...
4,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5,897579,303445,67664,2012-03-31,5,"Very, very good. My son loves these. He like..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126691,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2,493812,305531,486161,2013-07-18,5,Delish! I made this as directed but used a smo...
126692,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2,493330,1271506,486161,2012-09-10,5,Now the only substitution I made was African B...
126693,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2,493813,724631,486161,2014-01-07,5,"Very tasty soup, moderate spiciness (even afte..."
126694,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2,493811,133174,486161,2013-07-18,5,Very yummy indeed. A spicy sausage was used i...
126695,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7,949985,804234,298512,2008-05-02,1,I would rate this a zero if I could. I followe...

### Сохранение таблиц `pd.DataFrame`

In [22]:
# 6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и 
# сохраните результаты выполнения заданий 3.1-3.3 в csv файл. 
recipes.sort_values('name_word_count')[::-1].to_csv('new_recipes.csv')

In [24]:
# 6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: 
#     на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; 
#     на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.
new_table.to_excel('excel_5.1.xlsx')

IllegalCharacterError: